#profile {
  width: 90%;
  margin: 2rem 0 4rem 0 ;
  text-align: center;
}

#profile-header {
  margin-bottom: 1rem;
}

#profile-header span {
  position: relative;
  top: 5px;
  left: 3px;
  color: var(--theme-color1);
}

#profile-links {
  margin-bottom: 2rem;
}

#profile-links button {
  padding: 0.5rem 0.8rem;
  background-color: var(--theme-color1);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: var(--small-font);
  font-weight: bold;
}

#profile-links button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* ----- Bars ----- */
#profile-bars {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  list-style: none;
}

#profile-bars li {
  margin-bottom: 3rem;
}

#profile-bars img {
  display: block;
  height: 300px;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.profile-bars-name {
  margin-bottom: 0.3rem;
  font-size: var(--large-font);
  font-weight: bold;
}

.profile-bars-rating {
  margin-bottom: 0.3rem;
}

.profile-bars-rating span {
  color: var(--theme-color2);
}

.profile-bars-categories {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: var(--small-font);
  font-style: italic;
}

.profile-bars-categories div {
  display: inline;
}

.profile-bars-categories div:after {
  content: ", ";
}

.profile-bars-categories div:last-child:after {
  content: "";
}

.profile-bars-links a, .profile-bars-links button {
  display: inline-block;
  margin: 0 0.3rem 0.3rem 0.3rem;
  padding: 0.5rem 0.8rem;
  background-color: var(--theme-color1);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: var(--small-font);
  font-weight: bold;
  text-decoration: none;
}

.profile-bars-links a:hover, .profile-bars-links button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.profile-bars-closed {
  color: red;
  font-weight: bold;
}

.profile-bars-open {
  color: green;
  font-weight: bold;
}
/* ----- /Bars ----- */

#profile-bars-none {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

/* ----- Pagination ----- */
#profile-bars-page {
  margin-bottom: 0.3rem;
  font-size: var(--small-font);
  font-style: italic;
}

#profile-bars-page-btns button {
  margin: 0 0.3rem;
  padding: 0.5rem 0.8rem;
  background-color: var(--theme-color1);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: var(--small-font);
  font-weight: bold;
}

#profile-bars-page-btns button:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* ----- /Pagination ----- */

/* ----- Breakpoints ----- */
/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  #profile-bars {
    width: 90%;
  }

  #profile-bars li {
    width: 45%;
  }
}
 
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  #profile-bars {
    width: 80%;
  }

  #profile-bars li {
    width: 30%;
  }
}
/* ----- /Breakpoints ----- */