#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  width: 100%;
  background-color: var(--main-color);
  color: white;
}

#footer-credits a{
  color: white;
  text-decoration: none;
  font-size: var(--smaller-font);
}

#footer-credits a:hover {
  cursor: pointer;
  text-decoration: underline;
}
