#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
  background-color: var(--light-color);
}

/* ----- Credits ----- */
#footer-credits div {
  margin-bottom: 0.3rem;
  font-size: var(--small-font);
  font-weight: bold;
  text-align: center;
}

#footer-credits a{
  display: block;
  margin-bottom: 0.3rem;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: var(--smaller-font);
}

#footer-credits a:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* ----- /Credits ----- */