#navbar {
  display: flex;
  min-height: 10vh;
  width: 100%;
  background-color: var(--main-color);
  color: white;
}

#navbar-name {
  display: flex;
  align-items: center;
  min-height: 100%;
  width: 50%;
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: var(--larger-font);
  font-weight: bold;
  font-style: italic;
}

/* ----- Links ----- */
#navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100%;
  width: 50%;
}

#navbar-links a {
  display: flex;
  align-items: center;
  min-height: 100%;
  padding: 0.5rem 0.8rem;
  color: white;
  text-decoration: none;
  font-size: var(--default-font);
}

#navbar-logout {
  padding: 0.5rem 0.8rem;
  background-color: var(--main-color);
  color: white;
  border: none;
  font-size: var(--default-font);
}

#navbar-links a:hover, #navbar-logout:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* ----- /Links ----- */